################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64
/MSCKF/x64
/MSCKF_IP6/x64
/MSCKF_Simulation/x64
*.suo
*.sdf
*.opensdf
*.user
